.labels {
    color: rgb(0, 0, 0);
    background-color: rgb(235, 159, 234);
    display: flex;
    justify-content: space-evenly;
    
}
.labels :hover {
    color: rgb(252, 1, 181);
}

.navR :hover {
    color: rgb(252, 1, 181);
}

main {
    max-width: 900px;
    margin: auto;
}

.partC {
    width: 700px;
    margin: auto;
    gap: 0em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas:
    " patwo"
    "paone";
} 

.partOne{
    /*width: 600px;*/
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "A A A"
    "paragraphA paragraphA imageA"
    "where where where"
    "imageB paragraphB paragraphB";
    grid-area: paone;

  }

  .partTwo {
    border: 1px solid black;
    padding-top: 100px;
    padding-bottom: 194px;
    /*width: 200px;*/
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "resource"
    "list"
    "listTwo"
    "listThree";
    grid-area: patwo;
}

.pOne {
    font-family: "Roboto", sans-serif;
    grid-area: paragraphA;
  }

.pTwo {
    font-family: "Roboto", sans-serif;
    grid-area: paragraphB;
}

.pictureOne {
    border: 3px solid #000000;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: auto;
    grid-area: imageA;
  }

  .pictureTwo {
    border: 3px solid #000000;
    padding: 5px;
    margin: 5px;
    width: 175px;
    height: auto;
    grid-area: imageB;
  }

  .aboutMe {
    grid-area: A;
    margin: auto;
    background-color: rgb(199, 31, 224);
  }

  .lived {
    grid-area: where;
    margin: auto;
    background-color: rgb(199, 31, 224);
  }

  .headerOne {
    background-color: rgb(0, 0, 0);
    background-color: rgb(199, 31, 224);
    margin: auto;
    display: flex;
    justify-content: center;
}

.resource {
    background-color: rgb(199, 31, 224) ;
    grid-area: resource;
}

.list {
    grid-area: list;
}
.listTwo {
    grid-area: listTwo;
}
.listThree {
    grid-area: listThree;
}

.foot {

    background-color: rgb(199, 31, 224);
}

.lastPar {
    display: flex;
    justify-content: center;
}

.lastPara {
    display: flex;
    justify-content: center;
}