@media screen and (min-width: 650px) {
    main {
        justify-content: center;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
        "home home"
        "imgOne imgTwo"
        "imgThree imgFour"
        "imgFive imgSix"
        "imgSeven imgEight"
        "imgNine imgTen"
        "imgEleven imgEleven";
    }

    .navM {
        display: block;
        position: static;
        width: auto;
        margin-right:20px;
        background: none;
    }
    .navM a{
        display: inline-block;
        padding: 20px;
    }
    .navM a:hover{
        color: rgb(223, 251, 219);
    }
    .hamburgerM{
        display: none;
    }
    .button {
        display: none;
    }
    
} 

@media screen and (min-width: 1000px) {
    main {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas:
        "home home home"
        "imgOne imgTwo imgThree"
        "imgFour imgFive imgSix"
        "imgSeven imgEight imgNine"
        "imgTen imgEleven imgEleven";
    }
}

