header {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.lastPar {
    display: flex;
    justify-content: center;
}

.lastPara {
    display: flex;
    justify-content: center;
} 

main {
    font-size: 16px;
    padding: 2%;
    min-height: 20rem;
    background-color: rgb(222, 222, 222);
    margin: auto;
    max-width: 400px;
    width: 100%;
    border: solid rgb(0, 0, 0);
}

 .productReview label {
    display: block;
    padding-top: 10px;
    font-size: .9rem;
 }

 .productReview div {
    padding-top: .5rem;
 }

 .productReview input[type="text"],
 .productReview input[type="date"],
 .productReview select, textarea {
    display: block;
    padding: .75rem;
    color: rgb(0, 0, 0);
    appearance: none;
 }

 .productReview input[type="radio"],
 .productReview input[type="checkbox"]{
    margin-right: .2rem;
 }

 .productReview input[type="submit"]{
    border: none;
    background-image: linear-gradient(rgb(239, 84, 84), rgb(49, 7, 7));
    color: white;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin-top: 10px;
 }

