@media screen and (max-width: 650px) {
    .placetwo {
        display: none;
    }
    .solidLine {
        border: 10px solid blue;
        border-radius: 5px;
        
    }
    .info, .funct {
        text-align: center;
    }
    img {
        width: 500px;
    }
    main {
        border: 5px solid blue;
        max-width: 500px;
        gap: 0px;
        background-color: lightgray;
    }
    .lineBreak {
        border: 1px solid black;
    }

}

@media screen and (min-width: 650px) {
    .placeone {
        display: none;
    }

}


header, footer {
    background-color: red;
    text-align: center;
}



