@media screen and (max-width: 650px) {
    .placetwo {
        display: none;
    }
    .solidLine {
        border: 10px solid black;
        
    }
    .info, .funct {
        text-align: center;
    }
    img {
        width: 550px;
    }
    main {
        /*border: 5px solid blue;*/
        max-width: 550px;
        gap: 0px;
        background-color: rgb(241, 241, 241);
        font-family: "Roboto", sans-serif;
    }
    .lineBreak {
        border: .5px solid black;
    }
    .weather {
        width: 100px;
    }
    .cloud {
        display: none;
    }

}

@media screen and (min-width: 650px) {
    .placeone {
        display: none;
    }
    .solidLine {
        border: 10px solid black;
    }
    .info {
        position: absolute;
        top: 130px;
        left: 16px;
        background-color: white;
        width: 250px;
        text-align: right;
        opacity: .6;
    }
    h2 {
        background-color: black;
        color: white;
        text-align: left;
        padding-left: 10px;
        margin-right: 10px;
        
    }
    .info p {
        padding-right: 10px;
    }
    .funct {
        position: absolute;
        bottom: 0px;
        right: 16px;
        background-color: white;
        width: 250px;
        text-align: right;
        opacity: .6;
    }
    .weather {
        display: none;
    }
    .cloud ::after {
        content: ⛅;

    }
    main {
        margin: auto;
        max-width: 900px;
    }

}


header, footer {
    background-color: rgb(169, 19, 19);
    text-align: center;
}

@media screen and (min-width: 1400px) {
    .placeone {
        display: none;
    }
    .solidLine {
        border: 10px solid black;
    }
    .info {
        position: absolute;
        top: 130px;
        left: 320px;
        background-color: white;
        width: 250px;
        text-align: right;
    }
    h2 {
        background-color: black;
        color: white;
        text-align: left;
        padding-left: 10px;
        
    }
    .info p {
        padding-right: 10px;
    }
    .funct {
        position: absolute;
        right: 300px;
        background-color: white;
        width: 250px;
        text-align: right;
    }
    .weather {
        width: 25px;
    }
    main {
        margin: auto;
        max-width: 900px;
    }


}

