@media screen and (max-width: 650px) {
    .placetwo {
        display: none;
    }
    .solidLine {
        border: 10px solid black;
        
    }
    .info, .funct {
        text-align: center;
    }
    img {
        width: 550px;
    }
    main {
        /*border: 5px solid blue;*/
        max-width: 550px;
        gap: 0px;
        background-color: rgb(241, 241, 241);
        font-family: "Roboto", sans-serif;
    }
    .lineBreak {
        border: .5px solid black;
    }
    .weather {
        width: 30px;
    }

}

@media screen and (min-width: 650px) {
    .placeone {
        display: none;
    }

}


header, footer {
    background-color: rgb(169, 19, 19);
    text-align: center;
}



